@model IEnumerable<ABCCC.Models.Cineplex>

@{
    ViewData["Title"] = "Cineplexes";
}

<h2>Cineplexes</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.CineplexId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
